.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.whitesmoke{
    color: gray;
}
.material-icons.md-big{
    width: 50px;
    height: 20px;
} .big-icons{
    font-size: 250px;
}
